log/**/*
storage/**/*
tmp/**/*
.env
.env.example
Dockerfile
.dockerignore
.git
vendor/**/*
spec/**/*
.vscode/**/*
.github/**/*
client/build/**/*
client/node_modules/**/*
node_modules/**/*
*.keystore
.git/**/*
*.javac
.gradle/**/*
client/android/**/*
client/ios/**/*
spec/**/*
client/**/*
*.log
docker-compose.production.yml
docker-compose.yml
.expo
.expo-shared
.vscode/**/*